$white: #fff;
$purple: #5F3CA1;
$purple-400: #503387;
$purple-600:  #7B5ABA;
$yellow: #FFBF00;
$gray-01: #453F51;
$gray-02: #5E5570;
$white-100: #FCFCFC;
$purple-transparent-400: rgba(123, 90, 186, 0.4);
$purple-transparent-800: rgba(197,190,220,0.1);
$purple-transparent-900: rgba(95,60,161,0.1);
